In [4]:
import pandas as pd
import requests
import time

In [2]:
data = pd.read_csv('data/kl_full.csv')

In [49]:
data['query_result'] = 0

for i in range(5):
    data['format%i' % i] = ''
    data['lat%i' % i] = ''
    data['lng%i' % i] = ''
    
data.head()

,id,exclude,type,query,text,query_result,format0,lat0,lng0,format1,...,lng1,format2,lat2,lng2,format3,lat3,lng3,format4,lat4,lng4
0,3440931611,NaN,NaN,Alewife Brook Parkway,"No,' with Three Directional Arrows Stenciled o...",0,,,,,...,,,,,,,,,,
1,3441744408,NaN,NaN,Broadway,"Slo' Stenciled on Asphalt, Broadway",0,,,,,...,,,,,,,,,,
2,3365761050,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
3,3364974247,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
4,3365836732,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,

In [61]:
def geocode(row, index):
    
    print "Checking image %i" % (row.id),
    
    params = {
        'address' : row['query'],
    }

    r = requests.get('http://maps.googleapis.com/maps/api/geocode/json?', params)
    
    if r.json()['status'] == 'ZERO_RESULTS':
        print '... 0'
        return
        
    else:
        data.loc[index, 'query_result'] = 1
        
        results = r.json()['results']
        print '... %i' % (len(results))
        
        for i, result in enumerate(results):
            data.loc[index, 'format%i' % i] = result['formatted_address']
            data.loc[index, 'lat%i' % i] = result['geometry']['location']['lat']
            data.loc[index, 'lng%i' % i] = result['geometry']['location']['lng']
            
            if i == 4:
                return
        
        return

In [41]:
for index, row in data.iterrows():
    geocode(row, index)
    time.sleep(0.02)

id                                                3440931611
exclude                                                  NaN
type                                                     NaN
query                                  Alewife Brook Parkway
text       No,' with Three Directional Arrows Stenciled o...
Name: 0, dtype: object
id                                  3441744408
exclude                                    NaN
type                                       NaN
query                                 Broadway
text       Slo' Stenciled on Asphalt, Broadway
Name: 1, dtype: object
id                                                3365761050
exclude                                                  NaN
type                                           50ft_interval
query         Corner of Huntington Avenue and Blagden Street
text       50 ft. Intervals, Approaching Corner of Huntin...
Name: 2, dtype: object
id                                                3364974247
exclude                                                  NaN
type                                           50ft_interval
query         Corner of Huntington Avenue and Blagden Street
text       50 ft. Intervals, Approaching Corner of Huntin...
Name: 3, dtype: object
id                                                3365836732
exclude                                                  NaN
type                                           50ft_interval
query         Corner of Huntington Avenue and Blagden Street
text       50 ft. Intervals, Approaching Corner of Huntin...
Name: 4, dtype: object
id                                                3365689012
exclude                                                  NaN
type                                           50ft_interval
query         Corner of Huntington Avenue and Blagden Street
text       50 ft. Intervals, Approaching Corner of Huntin...
Name: 5, dtype: object
id                                                3365761334
exclude                                                  NaN
type                                           50ft_interval
query         Corner of Huntington Avenue and Blagden Street
text       50 ft. Intervals, Approaching Corner of Huntin...
Name: 6, dtype: object
id                                                3364849813
exclude                                                  NaN
type                                           50ft_interval
query         Corner of Huntington Avenue and Blagden Street
text       50 ft. Intervals, Approaching Corner of Huntin...
Name: 7, dtype: object
id                                                3364865499
exclude                                                  NaN
type                                           50ft_interval
query      Approaching Corner of Huntington Avenue and Ex...
text       50 ft. Intervals, Approaching Corner of Huntin...
Name: 8, dtype: object
id                                                3471010385
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, 11:...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 9, dtype: object
id                                                3468762299
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, Fac...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 10, dtype: object
id                                                3468768957
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, Fac...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 11, dtype: object
id                                                3468765211
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, Fac...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 12, dtype: object
id                                                3469600046
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, in ...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 13, dtype: object
id                                                3469603964
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, in ...
text       50 ft. intervals, Back Alley, Berkeley to Arli...
Name: 14, dtype: object
id                                                3469613136
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, in ...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 15, dtype: object
id                                                3469597076
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, in ...
text       50 ft. intervals, Back Alley, Berkeley to Arli...
Name: 16, dtype: object
id                                                3468796677
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, in ...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 17, dtype: object
id                                                3469593192
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, in ...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 18, dtype: object
id                                                3471007009
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, Loo...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 19, dtype: object
id                                                3468772193
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, Mel...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 20, dtype: object
id                                                3469589730
exclude                                                  NaN
type                                           50ft_interval
query      Back Alley, Berkeley to Arlington Streets, Mel...
text       50 ft. Intervals, Back Alley, Berkeley to Arli...
Name: 21, dtype: object
id                                                3471862584
exclude                                                  NaN
type                                           50ft_interval
query                Corner of Berkeley and Boylston Streets
text       50 ft. Intervals, Berkeley Street, Corner of B...
Name: 22, dtype: object
id                                                3471865778
exclude                                                  NaN
type                                           50ft_interval
query                Corner of Berkeley and Boylston Streets
text       50 ft. Intervals, Berkeley Street, Corner of B...
Name: 23, dtype: object
id                                                3471041739
exclude                                                  NaN
type                                           50ft_interval
query      Berkeley Street, Sidewalk with Pedestrians in ...
text       50 ft. Intervals, Berkeley Street, Sidewalk wi...
Name: 24, dtype: object
id                                                3471038495
exclude                                                  NaN
type                                           50ft_interval
query      Berkeley Street, Sidewalk with Pedestrians, Br...
text       50 ft. Intervals, Berkeley Street, Sidewalk wi...
Name: 25, dtype: object
id                                                3471846414
exclude                                                  NaN
type                                           50ft_interval
query      Berkeley Street, Sidewalk with Pedestrians, Br...
text       50 ft. Intervals, Berkeley Street, Sidewalk wi...
Name: 26, dtype: object
id                                                3471046945
exclude                                                  NaN
type                                           50ft_interval
query      Berkeley Street, Sidewalk with Pedestrians, St...
text       50 ft. Intervals, Berkeley Street, Sidewalk wi...
Name: 27, dtype: object
id                                                3471856434
exclude                                                  NaN
type                                           50ft_interval
query      Berkeley Street, Sidewalk with Pedestrians, Ti...
text       50 ft. Intervals, Berkeley Street, Sidewalk wi...
Name: 28, dtype: object
id                                                3471115595
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street Between Exeter and Clarendon S...
text       50 ft. Intervals, Boylston Street Between Exet...
Name: 29, dtype: object
id                                                3471118721
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street Between Exeter and Clarendon S...
text       50 ft. Intervals, Boylston Street Between Exet...
Name: 30, dtype: object
id                                                3471067653
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Boston Public Library at Righ...
text       50 ft. Intervals, Boylston Street, Boston Publ...
Name: 31, dtype: object
id                                                3471074669
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Boston Public Library at Righ...
text       50 ft. Intervals, Boylston Street, Boston Publ...
Name: 32, dtype: object
id                                                3471071649
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Boston Public Library at Righ...
text       50 ft. Intervals, Boylston Street, Boston Publ...
Name: 33, dtype: object
id                                                3472044880
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East in Shadow, Sidewa...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 34, dtype: object
id                                                3489027663
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East to Corner of Arli...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 35, dtype: object
id                                                3489741706
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East to Public Garden ...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 36, dtype: object
id                                                3489836830
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East to Public Garden ...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 37, dtype: object
id                                                3471273559
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East towards Corner of...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 38, dtype: object
id                                                3471277043
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Corner of Boylst...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 39, dtype: object
id                                                3489711558
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Corner of Boylst...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 40, dtype: object
id                                                3488913381
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Shelter Sign in ...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 41, dtype: object
id                                                3471225609
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 42, dtype: object
id                                                3472041986
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 43, dtype: object
id                                                3471269139
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 44, dtype: object
id                                                3472049850
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 45, dtype: object
id                                                3472053344
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 46, dtype: object
id                                                3472055964
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 47, dtype: object
id                                                3471265923
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing East, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing East...
Name: 48, dtype: object
id                                                3471193999
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 49, dtype: object
id                                                3472002820
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 50, dtype: object
id                                                3472009786
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 51, dtype: object
id                                                3471215489
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 52, dtype: object
id                                                3471202045
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 53, dtype: object
id                                                3472016632
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 54, dtype: object
id                                                3471222049
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 55, dtype: object
id                                                3472023312
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Facing West, Sidewalk with Pe...
text       50 ft. Intervals, Boylston Street, Facing West...
Name: 56, dtype: object
id                                                3471917284
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Looking Across Traffic to Tri...
text       50 ft. Intervals, Boylston Street, Looking Acr...
Name: 57, dtype: object
id                                                3471936678
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Looking Across Traffic to Tri...
text       50 ft. Intervals, Boylston Street, Looking Acr...
Name: 58, dtype: object
id                                                3471100631
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Looking Across Traffic toward...
text       50 ft. Intervals, Boylston Street, Looking Acr...
Name: 59, dtype: object
id                                                3471093613
exclude                                                  NaN
type                                           50ft_interval
query      Boylston Street, Looking Through Traffic at Tr...
text       50 ft. Intervals, Boylston Street, Looking Thr...
Name: 60, dtype: object

Name: 206, dtype: object
id                                                3446035846
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Bachrach Display Case, Boylston Street, Copley...
Name: 207, dtype: object
id                                   3446030730
exclude                                     NaN
type                                        NaN
query                                       NaN
text       Bachrach Display Case, Copley Square
Name: 208, dtype: object
id                                                3384499783
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill (Backside), Launder Land Laundry a...
text       Beacon Hill (Backside), Launder Land Laundry a...
Name: 209, dtype: object
id                                                3384499565
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, 'Beacon Chambers' Myrtle Street, ...
text       Beacon Hill, 'Beacon Chambers' Myrtle Street, ...
Name: 210, dtype: object
id                                                3384372107
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, 10 Louisburg Square, Doorway with...
text       Beacon Hill, 10 Louisburg Square, Doorway with...
Name: 211, dtype: object
id                                                3385312956
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, 20 Somerset Street toward Cambrid...
text       Beacon Hill, 20 Somerset Street toward Cambrid...
Name: 212, dtype: object
id                                                3385173224
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, 47 Pinckney Street, Steps to Fede...
text       Beacon Hill, 47 Pinckney Street, Steps to Fede...
Name: 213, dtype: object
id                                                3385172866
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, 75 Pinckney Street, Front Door wi...
text       Beacon Hill, 75 Pinckney Street, Front Door wi...
Name: 214, dtype: object
id                                                3384326095
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View from 92 Mt. Vernon St...
Name: 215, dtype: object
id                                                3385140548
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View from 92 Mt. Vernon St...
Name: 216, dtype: object
id                                                3384325885
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View from 92 Mt. Vernon St...
Name: 217, dtype: object
id                                                3385139784
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Looking South from Ma...
Name: 218, dtype: object
id                                                3384325365
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Looking South from Ma...
Name: 219, dtype: object
id                                                3384343747
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Looking Southwest fro...
Name: 220, dtype: object
id                                                3385139944
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Looking West from Suf...
Name: 221, dtype: object
id                                                3385418380
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Looking West over Cha...
Name: 222, dtype: object
id                                                3384343549
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Looking West to Charl...
Name: 223, dtype: object
id                                                3384344373
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Looking West, Brick F...
Name: 224, dtype: object
id                                                3385158122
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View of Cambridge Street f...
Name: 225, dtype: object
id                                                3384326495
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View Toward Charles River,...
Name: 226, dtype: object
id                                                3384402453
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View, Charles Street, Stor...
Name: 227, dtype: object
id                                                3384402747
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Beacon Hill, Aerial View, Charles Street, Stor...
Name: 228, dtype: object
id                                                3384402939
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, 85 Mt. Vernon Street, Cobblestone...
text       Beacon Hill, 85 Mt. Vernon Street, Cobblestone...
Name: 229, dtype: object
id                                                3384428033
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Anderson Street at Revere Street,...
text       Beacon Hill, Anderson Street at Revere Street,...
Name: 230, dtype: object
id                                                3384344221
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Backyard at 10 Walnut Street, Tre...
text       Beacon Hill, Backyard at 10 Walnut Street, Tre...
Name: 231, dtype: object
id                                                3384402321
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Basket Shop in Wood Frame Buildin...
text       Beacon Hill, Basket Shop in Wood Frame Buildin...
Name: 232, dtype: object
id                                                3384423897
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Beacon Street, Stone Doorway, Clo...
text       Beacon Hill, Beacon Street, Stone Doorway, Clo...
Name: 233, dtype: object
id                                                3384500163
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Bowdoin Street from Derne Street ...
text       Beacon Hill, Bowdoin Street from Derne Street ...
Name: 234, dtype: object
id                                                3384357905
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Bowdoin Street, Brick Row Houses,...
text       Beacon Hill, Bowdoin Street, Brick Row Houses,...
Name: 235, dtype: object
id                                                3385242048
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Branch Street Corner of Spruce St...
text       Beacon Hill, Branch Street Corner of Spruce St...
Name: 236, dtype: object
id                                                3385201992
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Buildings and Cars along Beacon S...
text       Beacon Hill, Buildings and Cars along Beacon S...
Name: 237, dtype: object
id                                                3384434793
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Bullfinch Place from Allston, Ten...
text       Beacon Hill, Bullfinch Place from Allston, Ten...
Name: 238, dtype: object
id                                                3385243076
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Bullfinch Place, Seven Story Bric...
text       Beacon Hill, Bullfinch Place, Seven Story Bric...
Name: 239, dtype: object
id                                                3385172242
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Cedar Lane Way, Narrow Alley, Bri...
text       Beacon Hill, Cedar Lane Way, Narrow Alley, Bri...
Name: 240, dtype: object
id                                                3385217004
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Charles Street, Aerial View, Two ...
text       Beacon Hill, Charles Street, Aerial View, Two ...
Name: 241, dtype: object
id                                                3385159062
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Charles Street Looking Up Mt. Ver...
text       Beacon Hill, Charles Street Looking Up Mt. Ver...
Name: 242, dtype: object
id                                                3385159202
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Charles Street, Pedestrians, Side...
text       Beacon Hill, Charles Street, Pedestrians, Side...
Name: 243, dtype: object
id                                                3384427741
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Chestnut and Walnut Streets Looki...
text       Beacon Hill, Chestnut and Walnut Streets Looki...
Name: 244, dtype: object
id                                                3384545537
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Chestnut and Walnut Streets Looki...
text       Beacon Hill, Chestnut and Walnut Streets Looki...
Name: 245, dtype: object
id                                                3384424055
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Chestnut Street, Corner of River ...
text       Beacon Hill, Chestnut Street, Corner of River ...
Name: 246, dtype: object
id                                                3384530963
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, from 37 Beacon Street, Looking To...
text       Beacon Hill, from 37 Beacon Street, Looking To...
Name: 247, dtype: object
id                                                3384343989
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, from West Side of Longfellow Brid...
text       Beacon Hill, from West Side of Longfellow Brid...
Name: 248, dtype: object
id                                                3385242282
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Hancock Street, Line of Brick Row...
text       Beacon Hill, Hancock Street, Line of Brick Row...
Name: 249, dtype: object
id                                                3385313302
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Intersection of Myrtle and Garden...
text       Beacon Hill, Intersection of Myrtle and Garden...
Name: 250, dtype: object
id                                                3384544963
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Joy Street toward Beacon Street a...
text       Beacon Hill, Joy Street toward Beacon Street a...
Name: 251, dtype: object
id                                                3385159322
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Joy Street, Cars Parked, 'Stick w...
text       Beacon Hill, Joy Street, Cars Parked, 'Stick w...
Name: 252, dtype: object
id                                                3385359630
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking Down Ridgeway Lane toward...
text       Beacon Hill, Looking Down Ridgeway Lane toward...
Name: 253, dtype: object
id                                                3384529647
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking Down Steep Hill, South Ru...
text       Beacon Hill, Looking Down Steep Hill, South Ru...
Name: 254, dtype: object
id                                                3385344076
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking Down Steep Hill, South Ru...
text       Beacon Hill, Looking Down Steep Hill, South Ru...
Name: 255, dtype: object
id                                                3384401939
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking down Street, Intersection...
text       Beacon Hill, Looking down Street, Intersection...
Name: 256, dtype: object
id                                                3385343818
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking Down West Cedar Street fr...
text       Beacon Hill, Looking Down West Cedar Street fr...
Name: 257, dtype: object
id                                                3384358873
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking East, Pinckney and West C...
text       Beacon Hill, Looking East, Pinckney and West C...
Name: 258, dtype: object
id                                                3385242938
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking North down Anderson Stree...
text       Beacon Hill, Looking North down Anderson Stree...
Name: 259, dtype: object
id                                                3385344240
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking Up Hill on Revere Street,...
text       Beacon Hill, Looking Up Hill on Revere Street,...
Name: 260, dtype: object
id                                                3385172064
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Looking Up Hill on Willow Street ...
text       Beacon Hill, Looking Up Hill on Willow Street ...
Name: 261, dtype: object
id                                                3384372505
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Louisburg Square from South, on W...
text       Beacon Hill, Louisburg Square from South, on W...
Name: 262, dtype: object
id                                                3384386607
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Louisburg Square Looking Down the...
text       Beacon Hill, Louisburg Square Looking Down the...
Name: 263, dtype: object
id                                                3384374053
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Louisburg Square Looking North, R...
text       Beacon Hill, Louisburg Square Looking North, R...
Name: 264, dtype: object
id                                                3385187266
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Louisburg Square Looking West up ...
text       Beacon Hill, Louisburg Square Looking West up ...
Name: 265, dtype: object
id                                                3385186564
exclude                                                  NaN
type                                                     NaN
query      Beacon Hill, Louisburg Square Trees, Street Co...
text       Beacon Hill, Louisburg Square Trees, Street Co...
Name: 266, dtype: object
id                                                3384372641
exclude                                                  NaN
type                                                     NaN

id                                              3421678874
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       Brattle Street off Scollay Square Parking Areas
Name: 402, dtype: object
id                                                3440954427
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Bridge Closed Sign, Beacon Street Railroad Bridge
Name: 403, dtype: object
id                                                3424451964
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Bridge Unsafe Over 8 Ton Sign, Huron Avenue, C...
Name: 404, dtype: object
id                                                3401286479
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Bunker Hill Monument, Monument Square, Charles...
Name: 405, dtype: object
id                                                3423609669
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Bus Stop/No Parking Sign, Star Pharmacy, Hamps...
Name: 406, dtype: object
id                                         3423401511
exclude                                           NaN
type                                              NaN
query                                             NaN
text       Cambridge Street, Rouffa's Furniture Store
Name: 407, dtype: object
id                                                3423304851
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, 120 Porter Street, Directory and Pa...
Name: 408, dtype: object
id                                    3423425531
exclude                                      NaN
type                                         NaN
query                                        NaN
text       Cambridge, Albany Street, Light Lunch
Name: 409, dtype: object
id                                       3423455323
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Cambridge, Concord Avenue, Produce Stand
Name: 410, dtype: object
id                                        3423372393
exclude                                          NaN
type                                             NaN
query                                            NaN
text       Cambridge, Elm Street, Auto Parts Company
Name: 411, dtype: object
id                                                3424161762
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Avenue and Blanche St...
Name: 412, dtype: object
id                                                3423454651
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Avenue, Between Blake...
Name: 413, dtype: object
id                                                3423454881
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Avenue, Between Blake...
Name: 414, dtype: object
id                                                3424162110
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Avenue, Body and Radi...
Name: 415, dtype: object
id                                          3423454463
exclude                                            NaN
type                                               NaN
query                                              NaN
text       Cambridge, Massachusetts Avenue, Ford Sales
Name: 416, dtype: object
id                                                3424161968
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Avenue, Furniture and...
Name: 417, dtype: object
id                                             3423472439
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       Cambridge, Massachusetts Avenue, Sears Parking
Name: 418, dtype: object
id                                                3424161634
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Avenue, Tobacco Shop ...
Name: 419, dtype: object
id                                                3423354711
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Avenue, University St...
Name: 420, dtype: object
id                                                3423455743
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Massachusetts Wharf and Fuel Compan...
Name: 421, dtype: object
id                                                3423327979
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Pearl Street and Green Street, Eate...
Name: 422, dtype: object
id                                                3423304711
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cambridge, Prospect Street, Wong Laundry and C...
Name: 423, dtype: object
id                                                3404799584
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cars Parked under Central Artery, Adjacent to ...
Name: 424, dtype: object
id                                         3401214567
exclude                                           NaN
type                                              NaN
query                                             NaN
text       Cars Parked under Central Artery, at Night
Name: 425, dtype: object
id                                         3403988687
exclude                                           NaN
type                                              NaN
query                                             NaN
text       Cars Parked under Central Artery, at Night
Name: 426, dtype: object
id                                          3403988807
exclude                                            NaN
type                                               NaN
query                                              NaN
text       Cars, Pushcarts Parked under Central Artery
Name: 427, dtype: object
id                                                3441420659
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cartoons - Line Drawing of Apartment Door, Two...
Name: 428, dtype: object
id                                                3442234744
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cartoons - Line Drawing Sign, Shirt Sleeve, Ha...
Name: 429, dtype: object
id                                                3441420537
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Cartoons - Line Drawing, Attached Apartments, ...
Name: 430, dtype: object
id                      3424098676
exclude                        NaN
type                           NaN
query                          NaN
text       Cat Drawing on Sidewalk
Name: 431, dtype: object
id                                       3423401283
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Causeway Street, Pard Dog Food Billboard
Name: 432, dtype: object
id               3403698131
exclude                 NaN
type                    NaN
query                   NaN
text       Cemetery in Snow
Name: 433, dtype: object
id               3404521442
exclude                 NaN
type                    NaN
query                   NaN
text       Cemetery in Snow
Name: 434, dtype: object
id                               3403988399
exclude                                 NaN
type                                    NaN
query                                   NaN
text       Central Artery and Railroad Yard
Name: 435, dtype: object
id                        3404772668
exclude                          NaN
type                             NaN
query                            NaN
text       Central Artery, 1:00 P.M.
Name: 436, dtype: object
id                                          3404773332
exclude                                            NaN
type                                               NaN
query                                              NaN
text       Central Artery, Boston Harbor in Background
Name: 437, dtype: object
id                                        3403962035
exclude                                          NaN
type                                             NaN
query                                            NaN
text       Central Artery, Charlestown in Background
Name: 438, dtype: object
id                                                3404772870
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Central Artery, Industrial Structures Backgrou...
Name: 439, dtype: object
id                                                3424209528
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Central Square, Massachusetts Avenue, Central ...
Name: 440, dtype: object
id                                                3423425695
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Central Square, Massachusetts Avenue, Foley Ca...
Name: 441, dtype: object
id                                             3365044793
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       Central Square, Storefronts and Subway station
Name: 442, dtype: object
id                                             3365044623
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       Central Square, Storefronts from across street
Name: 443, dtype: object
id                                            3424210016
exclude                                              NaN
type                                                 NaN
query                                                NaN
text       Charlestown, Bunker Hill Street, Liquor Store
Name: 444, dtype: object
id                                           3424162592
exclude                                             NaN
type                                                NaN
query                                               NaN
text       Charlestown, Hancock Street, Furniture Store
Name: 445, dtype: object
id                                                3423355177
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Charlestown, Main Street, Circus Posters in Li...
Name: 446, dtype: object
id                                                3424112238
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Charlestown, Rutherford Avenue, Fleischmann's ...
Name: 447, dtype: object
id                                                3424209328
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Charter Street and Commercial Avenue, Soft Dri...
Name: 448, dtype: object
id                                            3423290913
exclude                                              NaN
type                                                 NaN
query                                                NaN
text       Charter Street, Sidewalk Drawings, 12:30 P.M.
Name: 449, dtype: object
id                                                3424110870
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Chevrolet Advertising on Checker Cab, 'I Love ...
Name: 450, dtype: object
id                                                3420699733
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Chicken Lane Restaurant, Massachusetts Avenue ...
Name: 451, dtype: object
id                                                3441852288
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Children Go Slow - Sign, Linnean Street at Mas...
Name: 452, dtype: object
id                                                3384726571
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christmas Decorations, Filene's, Summer Street...
Name: 453, dtype: object
id                                                3384727335
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christmas Decorations, Filene's, Washington St...
Name: 454, dtype: object
id                                                3384726991
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christmas Decorations, Jordan Marsh, Summer St...
Name: 455, dtype: object
id                                                3385541848
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christmas Decorations, Jordan Marsh, Summer St...
Name: 456, dtype: object
id                                                3384726845
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christmas Decorations, Nativity Scene, Jordan ...
Name: 457, dtype: object
id                                       3384727221
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Christmas Decorations, Washington Street
Name: 458, dtype: object
id                                                3385516616
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christmas Window Display, Dolls and Toys, File...
Name: 459, dtype: object
id                                                3384726727
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christmas Window Display, Dolls and Toys, File...
Name: 460, dtype: object
id                                                3423290639
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Christopher Columbus School Plaque, Graffiti, ...
Name: 461, dtype: object
id                                              3423481603
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       Columbus Avenue and Greenwich Park, Zion Church
Name: 462, dtype: object
id                            3424209100
exclude                              NaN
type                                 NaN
query                                NaN
text       Commercial Avenue, Billboards
Name: 463, dtype: object
id                                                3468712487
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Commonwealth Avenue from Corner of Gloucester ...
Name: 464, dtype: object
id                                                3468700779
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Commonwealth Avenue from Exeter to Fairfield S...
Name: 465, dtype: object
id                                                3450501879
exclude                                                  NaN
type                                                     NaN
query                                                    NaN

id                                                3424495828
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Diamond-shaped Caution Sign with Right-Hand Cu...
Name: 607, dtype: object
id                                                3424495612
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Diamond-shaped Signals Ahead Sign and Arrow Si...
Name: 608, dtype: object
id                                                3441054485
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Direction, Information, and Warning Signs, Par...
Name: 609, dtype: object
id                                                3440933161
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Directional Arrow and Do Not Enter Sign, Fitzg...
Name: 610, dtype: object
id                                                3440932245
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Directional Arrows Stenciled on Street, Corner...
Name: 611, dtype: object
id                                                3441827774
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Directional Signs for Logan Airport, Points So...
Name: 612, dtype: object
id                                                3403843949
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Directional Signs, Logan Airport, 1:00 to 3:00...
Name: 613, dtype: object
id                                           3440955433
exclude                                             NaN
type                                                NaN
query                                               NaN
text       Do Not Enter 4 to 6:30 P.M. Sign, Bow Street
Name: 614, dtype: object
id                                            3401259589
exclude                                              NaN
type                                                 NaN
query                                                NaN
text       Dog Statue and Benches in Snow, Storrow Drive
Name: 615, dtype: object
id                                 3424508026
exclude                                   NaN
type                                      NaN
query                                     NaN
text       Drawbridge Sign, Cambridge Parkway
Name: 616, dtype: object
id                                                3384737469
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Clough & Slackey, Corner of Charl...
Name: 617, dtype: object
id                                                3401728464
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Concord Drugs, Corner of Concord ...
Name: 618, dtype: object
id                                                3401728608
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Concord Drugs, Corner of Concord ...
Name: 619, dtype: object
id                                                3401728388
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Knights Drug, Corner of Washingto...
Name: 620, dtype: object
id                                                3385553134
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Kornfield Pharmacy, Corner of Wil...
Name: 621, dtype: object
id                                                3384738227
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Kornfield Pharmacy, Corner of Wil...
Name: 622, dtype: object
id                                                3401728134
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Madison Drug Co., Corner of Madis...
Name: 623, dtype: object
id                                                3400923347
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Merit Drug, Washington Street bet...
Name: 624, dtype: object
id                                                3384738073
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Sanford Pharmacy, Corner of West ...
Name: 625, dtype: object
id                                                3384737859
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Sanford Pharmacy, Corner of West ...
Name: 626, dtype: object
id                                                3385552482
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Drug Stores, Young's Pharmacy, Washington Stre...
Name: 627, dtype: object
id                                            3409496007
exclude                                              NaN
type                                                 NaN
query                                                NaN
text       Duplicate Position of Old Copley Square Print
Name: 628, dtype: object
id                                              3424180692
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       East Brookline Street, Cigarette Advertisements
Name: 629, dtype: object
id                                                3365045203
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       East Facades, Central Square, Gorin's from acr...
Name: 630, dtype: object
id                                                3365045365
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       East Facades, Central Square, Movie Theater fr...
Name: 631, dtype: object
id                                                3365867384
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       East Facades, Central Square, Storefronts with...
Name: 632, dtype: object
id                                                3365045517
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       East Facades, Central Square, Storefronts with...
Name: 633, dtype: object
id                   3421506750
exclude                     NaN
type                        NaN
query                       NaN
text       Edelweiss Restaurant
Name: 634, dtype: object
id                                                3441828668
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated Cylindrical Directional Sign, Tufts U...
Name: 635, dtype: object
id                                                3441908844
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated Subway Station at Charles Street, wit...
Name: 636, dtype: object
id                                                3404748218
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View from Westgate of Parking Lot and...
Name: 637, dtype: object
id                                              3404772118
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       Elevated View of Briggs Field and Running Track
Name: 638, dtype: object
id                                                3403960685
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Building 7 Dome and Massachus...
Name: 639, dtype: object
id                                                3403938021
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Kresge Auditorium, Kresge Cha...
Name: 640, dtype: object
id                                                3404747888
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Kresge Auditorium, Kresge Cha...
Name: 641, dtype: object
id                                                3404749086
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Kresge Auditorium, Rockwell C...
Name: 642, dtype: object
id                                                3404771980
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Kresge Chapel, Rockwell Cage ...
Name: 643, dtype: object
id                                                3404748716
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Kresge Parking Lot, Athletic ...
Name: 644, dtype: object
id                                                3403938331
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Parking Lots, Kresge Auditori...
Name: 645, dtype: object
id                                                3404748916
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Elevated View of Rockwell Cage and Kresge Audi...
Name: 646, dtype: object
id                                                3404822126
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Eliot Street Parking Garage next to Union Oyst...
Name: 647, dtype: object
id                                                3427683182
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entering Copley Square from Subway West, 2:30-...
Name: 648, dtype: object
id                                                3427688190
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entering Copley Square from Subway West, Boyls...
Name: 649, dtype: object
id                                                3427698494
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entering Copley Square from Subway West, Trini...
Name: 650, dtype: object
id                                                3441798504
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance Sign for Municipal Parking Lot, Davis...
Name: 651, dtype: object
id                                                3423531407
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance to The Cave, Van Ransselaer Place, Of...
Name: 652, dtype: object
id                                                3401728948
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, Beth Israel Hospital, Brookline Aven...
Name: 653, dtype: object
id                                              3400924239
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       Entrance, Holy Ghost Hospital, Cambridge Street
Name: 654, dtype: object
id                                                3400923901
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, Massachusetts General Hospital, Char...
Name: 655, dtype: object
id                                                3400950145
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, Massachusetts School of Art, Brookli...
Name: 656, dtype: object
id                                                3401754592
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, Quong Kow Chinese Junior High School...
Name: 657, dtype: object
id                                             3401755280
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       Entrance, School, Lincoln and Columbia Streets
Name: 658, dtype: object
id                                        3401755446
exclude                                          NaN
type                                             NaN
query                                            NaN
text       Entrance, Sherwin School, Sterling Street
Name: 659, dtype: object
id                                                3401729286
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, Suffolk County Jail, Charles Street,...
Name: 660, dtype: object
id                                                3401755094
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, Webster School, Upton Street, 1:00 P.M.
Name: 661, dtype: object
id                                                3400949987
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, Wells School and St. Joseph's School...
Name: 662, dtype: object
id                                                3401729474
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Entrance, William Blackstone School, Blossom S...
Name: 663, dtype: object
id                             3451124480
exclude                               NaN
type                                  NaN
query                                 NaN
text       Evzone Sign on Boylston Street
Name: 664, dtype: object
id                                                3440931813
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Exit - Do Not Enter Stenciled on Asphalt in Pa...
Name: 665, dtype: object
id                            3426794699
exclude                              NaN
type                                 NaN
query                                NaN
text       Exit of Boston Public Library
Name: 666, dtype: object
id                                                3382821412
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Faneuil Hall and Vicinity, Aerial View Looking...
Name: 667, dtype: object
id                                                3421679374
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Faneuil Hall Area, Aerial view from Parapet of...
Name: 668, dtype: object
id                              3426877197
exclude                                NaN

Name: 817, dtype: object
id                                                3401034099
exclude                                                  NaN
type                                                    grid
query      Fort Point Avenue from Dorchester Avenue, Carg...
text       Grid Series, Taken from Intersecting Points of...
Name: 818, dtype: object
id                                                3401817262
exclude                                                  NaN
type                                                    grid
query      Hanover Street, Facing North, St. Stephen's Ch...
text       Grid Series, Taken from Intersecting Points of...
Name: 819, dtype: object
id                                                3401032959
exclude                                                  NaN
type                                                    grid
query                                        Harrison Avenue
text       Grid Series, Taken from Intersecting Points of...
Name: 820, dtype: object
id                                                3401012585
exclude                                                  NaN
type                                                    grid
query      Huntington Avenue and West Newton Street, Side...
text       Grid Series, Taken from Intersecting Points of...
Name: 821, dtype: object
id                                                3401918630
exclude                                                  NaN
type                                                    grid
query      Huntington Avenue at West Newton Street, Sidew...
text       Grid Series, Taken from Intersecting Points of...
Name: 822, dtype: object
id                                                3401113917
exclude                                                  NaN
type                                                    grid
query      Irving Street, Facing South From Cambridge Street
text       Grid Series, Taken from Intersecting Points of...
Name: 823, dtype: object
id                                                3401837820
exclude                                                  NaN
type                                                    grid
query              Kneeland Street Approaching Hudson Street
text       Grid Series, Taken from Intersecting Points of...
Name: 824, dtype: object
id                                                3401917492
exclude                                                  NaN
type                                                    grid
query       Lewis Wharf, Boston Tow Boat Company, 10:45 A.M.
text       Grid Series, Taken from Intersecting Points of...
Name: 825, dtype: object
id                                                3400981291
exclude                                                  NaN
type                                                    grid
query                                      Longfellow Bridge
text       Grid Series, Taken from Intersecting Points of...
Name: 826, dtype: object
id                                                3401066183
exclude                                                  NaN
type                                                    grid
query      Marlborough and Dartmouth Streets, Facing Char...
text       Grid Series, Taken from Intersecting Points of...
Name: 827, dtype: object
id                                                3401883524
exclude                                                  NaN
type                                                    grid
query      Massachusetts Avenue Between Harrison and Alba...
text       Grid Series, Taken from Intersecting Points of...
Name: 828, dtype: object
id                                                3401918064
exclude                                                  NaN
type                                                    grid
query      Massachusetts Avenue near Columbus Avenue, Tow...
text       Grid Series, Taken from Intersecting Points of...
Name: 829, dtype: object
id                                                3401918318
exclude                                                  NaN
type                                                    grid
query      Massachusetts Avenue near Columbus Avenue, Tow...
text       Grid Series, Taken from Intersecting Points of...
Name: 830, dtype: object
id                                                3401013319
exclude                                                  NaN
type                                                    grid
query      Massachusetts Avenue, Facing West towards Elev...
text       Grid Series, Taken from Intersecting Points of...
Name: 831, dtype: object
id                                                3401785650
exclude                                                  NaN
type                                                    grid
query                                        Merrimac Street
text       Grid Series, Taken from Intersecting Points of...
Name: 832, dtype: object
id                                                3401883808
exclude                                                  NaN
type                                                    grid
query      Nashua Street, Facing Northeast towards Railwa...
text       Grid Series, Taken from Intersecting Points of...
Name: 833, dtype: object
id                                                3401817122
exclude                                                  NaN
type                                                    grid
query      Plympton Street, 2:15 P.M. Holy Cross Cathedra...
text       Grid Series, Taken from Intersecting Points of...
Name: 834, dtype: object
id                                                3401919154
exclude                                                  NaN
type                                                    grid
query      Plympton Street, Holy Cross Cathedral in Backg...
text       Grid Series, Taken from Intersecting Points of...
Name: 835, dtype: object
id                                                3401033429
exclude                                                  NaN
type                                                    grid
query                    Public Alley 45 at Fairfield Street
text       Grid Series, Taken from Intersecting Points of...
Name: 836, dtype: object
id                                                3401033117
exclude                                                  NaN
type                                                    grid
query                     Purchase Street, Construction Site
text       Grid Series, Taken from Intersecting Points of...
Name: 837, dtype: object
id                                                3401134343
exclude                                                  NaN
type                                                    grid
query                          Railroad Tracks, South Boston
text       Grid Series, Taken from Intersecting Points of...
Name: 838, dtype: object
id                                                3401918454
exclude                                                  NaN
type                                                    grid
query                                            Rowes Wharf
text       Grid Series, Taken from Intersecting Points of...
Name: 839, dtype: object
id                                                3401012435
exclude                                                  NaN
type                                                    grid
query                              Rutland Street, 1:50 P.M.
text       Grid Series, Taken from Intersecting Points of...
Name: 840, dtype: object
id                                                3401870310
exclude                                                  NaN
type                                                    grid
query                              Shawmut Avenue, 1:35 P.M.
text       Grid Series, Taken from Intersecting Points of...
Name: 841, dtype: object
id                                                3401013473
exclude                                                  NaN
type                                                    grid
query                            Stoughton Street, 2:05 P.M.
text       Grid Series, Taken from Intersecting Points of...
Name: 842, dtype: object
id                                                3401079913
exclude                                                  NaN
type                                                    grid
query                            Stoughton Street, 2:15 P.M.
text       Grid Series, Taken from Intersecting Points of...
Name: 843, dtype: object
id                                                3401817862
exclude                                                  NaN
type                                                    grid
query                    Upton Street, Townhouses, 2:05 P.M.
text       Grid Series, Taken from Intersecting Points of...
Name: 844, dtype: object
id                                                3401033961
exclude                                                  NaN
type                                                    grid
query      View of Broadway Bridge from Albany Street, 3:...
text       Grid Series, Taken from Intersecting Points of...
Name: 845, dtype: object
id                                                3401114895
exclude                                                  NaN
type                                                    grid
query                                Warren Bridge, Overpass
text       Grid Series, Taken from Intersecting Points of...
Name: 846, dtype: object
id                                                3440954527
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Handicapped Operators Only Signs, Joy Street, ...
Name: 847, dtype: object
id                                                3423371663
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Hanover Street and Washington Street, Adam Hat...
Name: 848, dtype: object
id                                                3384689605
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, Aerial View of Entire Span, Lo...
Name: 849, dtype: object
id                                                3421530368
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Hanover Street facing Haymarket Square, 11:15 ...
Name: 850, dtype: object
id                                                3424179280
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Hanover Street, Arrow Sales Company and Unifor...
Name: 851, dtype: object
id                                          3423290219
exclude                                            NaN
type                                               NaN
query                                              NaN
text       Hanover Street, Door Scribbling, 11:30 A.M.
Name: 852, dtype: object
id                                     3423371533
exclude                                       NaN
type                                          NaN
query                                         NaN
text       Hanover Street, Stores and Restaurants
Name: 853, dtype: object
id                                                3423371169
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harrison Avenue, Blacker & Shepard Company Lumber
Name: 854, dtype: object
id                                                3385503680
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk Looking South towa...
Name: 855, dtype: object
id                                                3385516158
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk Looking South towa...
Name: 856, dtype: object
id                                                3385503942
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk Looking South towa...
Name: 857, dtype: object
id                                                3385503818
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk Looking South towa...
Name: 858, dtype: object
id                                                3385504564
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk Looking South towa...
Name: 859, dtype: object
id                                                3384689287
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk Looking South towa...
Name: 860, dtype: object
id                                                3385504286
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk Looking South towa...
Name: 861, dtype: object
id                                                3385516348
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk near Boston, Looki...
Name: 862, dtype: object
id                                                3385516512
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Bridge, on Sidewalk near Boston, Looki...
Name: 863, dtype: object
id                            3441039095
exclude                              NaN
type                                 NaN
query                                NaN
text       Harvard Square Subway Station
Name: 864, dtype: object
id                            3441853028
exclude                              NaN
type                                 NaN
query                                NaN
text       Harvard Square Subway Station
Name: 865, dtype: object
id                                     3441852660
exclude                                       NaN
type                                          NaN
query                                         NaN
text       Harvard Square Subway Station Entrance
Name: 866, dtype: object
id                                                3441039413
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Square Subway Station Entrance, with E...
Name: 867, dtype: object
id                                                3441039993
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Square Subway Station, Entrance Stairw...
Name: 868, dtype: object
id                                                3441039745
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Square Subway Station, Exit Stairwell,...
Name: 869, dtype: object
id                                                3441853378
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Square Subway Station, Interior with B...
Name: 870, dtype: object
id                                                3441853682
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Harvard Square Subway Station, Stairwell To Bo...
Name: 871, dtype: object
id                      3404799942
exclude                        NaN
type                           NaN
query                          NaN
text       Haymarket Butcher Shops
Name: 872, dtype: object
id                                                3402180566
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Headstone, Boston Common Cemetery, Benjamin I....
Name: 873, dtype: object
id                                                3403710401
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Headstone, Boston Common Cemetery, James Landr...
Name: 874, dtype: object
id                                                3402179370
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Headstone, Boston Common Cemetery, James Water...
Name: 875, dtype: object
id                                                3402180278
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Headstone, Boston Common Cemetery, John H. Sch...
Name: 876, dtype: object
id                                                3403710189
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Headstone, Boston Commons Cemetery, Thomas Wal...
Name: 877, dtype: object
id                                                3402120580
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Headstone, Capt. Nicholas Gardner, Died June 1...
Name: 878, dtype: object
id                                  3404537438
exclude                                    NaN
type                                       NaN
query                                      NaN
text       Headstone, Caroli Cutter, Died 1829
Name: 879, dtype: object

id                        3403710725
exclude                          NaN
type                             NaN
query                            NaN
text       Mausoleum, Ralph H. White
Name: 1018, dtype: object
id                                                3424086330
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       McLean Street, Charlesgate Cleanser, Scribblin...
Name: 1019, dtype: object
id                                                3424136522
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Medford, Mystic Valley Parkway, Englander Matt...
Name: 1020, dtype: object
id                                                3403906909
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Men Gathered on Bench, Baby Stroller, 'Right t...
Name: 1021, dtype: object
id                                        3420602197
exclude                                          NaN
type                                             NaN
query                                            NaN
text       Men outside Fish Market, Haymarket Square
Name: 1022, dtype: object
id                                                3403906725
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Men Playing Cards, Man with Dog, Paul Revere Mall
Name: 1023, dtype: object
id                  3441015829
exclude                    NaN
type                       NaN
query                      NaN
text       Men Working - Signs
Name: 1024, dtype: object
id                                                3402064102
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Minute Man Statue, Battle Green Square, Lexington
Name: 1025, dtype: object
id                                                3402165350
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Monument to the Discovery of Ether, Public Garden
Name: 1026, dtype: object
id                                                3401373807
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Monument with Statuary, 'R. S. Wade', Mount Au...
Name: 1027, dtype: object
id                                                3402165946
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Monument, Founding of Boston in 1630, Boston C...
Name: 1028, dtype: object
id                                                3401359163
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Monument, Large Sphere on Pedestal, Grave of M...
Name: 1029, dtype: object
id                                                3402179072
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Monuments and Burial Vaults, Facing Pond, Moun...
Name: 1030, dtype: object
id                              3423258607
exclude                                NaN
type                                   NaN
query                                  NaN
text       Moon Street, Doorway Scribbling
Name: 1031, dtype: object
id                                                3404047483
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Motor Mart Garage and Bus Terminal at Park Squ...
Name: 1032, dtype: object
id                                      3404520404
exclude                                        NaN
type                                           NaN
query                                          NaN
text       Mount Auburn Cemetery, Detail of Temple
Name: 1033, dtype: object
id                                                3403726323
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Mount Auburn Cemetery, Galanthus Path, North B...
Name: 1034, dtype: object
id                                                3404537608
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Mount Auburn Cemetery, Northeast Corner, Facin...
Name: 1035, dtype: object
id                                                3404521942
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Mount Auburn Cemetery, View from Hilltop, in Snow
Name: 1036, dtype: object
id                                                3404536996
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Mount Auburn Cemetery, Washington Tower on Hil...
Name: 1037, dtype: object
id                                                3424098958
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Moving Van, Brookline Moving Company and Mover...
Name: 1038, dtype: object
id                                                3381905553
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       MTA platform above Washington and Dover Street...
Name: 1039, dtype: object
id                                  3404131565
exclude                                    NaN
type                                       NaN
query                                      NaN
text       Municipal Parking Lot, Davis Square
Name: 1040, dtype: object
id                                                3404822008
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Municipal Parking Lot, Post Office Square, 10:...
Name: 1041, dtype: object
id                                                3441357205
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Municipal vehicles - Cambridge Public Works tr...
Name: 1042, dtype: object
id                                                3441357349
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Municipal Vehicles - Fire Engines Parked in Mi...
Name: 1043, dtype: object
id                                                3442171708
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Municipal Vehicles - Hot Top Pavements Inc. Pa...
Name: 1044, dtype: object
id                                                3442171926
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Municipal Vehicles - St. Martin & Sons Constru...
Name: 1045, dtype: object
id                                                3441358105
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Municipal Vehicles - Truck with Shovel Arm Par...
Name: 1046, dtype: object
id                        3423328431
exclude                          NaN
type                             NaN
query                            NaN
text       Nashua Street, Billboards
Name: 1047, dtype: object
id                                                3423509967
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Neon Sign for Cactus Room, Night, Queensburg S...
Name: 1048, dtype: object
id                                                3424318306
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Neon Signs at Night, Oxford Street, Chinatown,...
Name: 1049, dtype: object
id                                3423509575
exclude                                  NaN
type                                     NaN
query                                    NaN
text       Neon Signs, Night, Central Square
Name: 1050, dtype: object
id                                                3441106959
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       New England Food Fair Supermarket, Interior, H...
Name: 1051, dtype: object
id                                                3441920676
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       New England Food Fair Supermarket, Interior, w...
Name: 1052, dtype: object
id                                                3442144752
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       New Haven Railroad, NH Logo on Side, Parked tr...
Name: 1053, dtype: object
id                                 3382351884
exclude                                   NaN
type                                      NaN
query                                     NaN
text       Newbury Street, Corner of Berkeley
Name: 1054, dtype: object
id                                  3382351726
exclude                                    NaN
type                                       NaN
query                                      NaN
text       Newbury Street, Corner of Clarendon
Name: 1055, dtype: object
id                                  3445156887
exclude                                    NaN
type                                       NaN
query                                      NaN
text       Newsstand, Copley Square, 1:00 P.M.
Name: 1056, dtype: object
id                                                3421678232
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Newsstand, Under Old Scollay Square Theatre Ma...
Name: 1057, dtype: object
id                                                3441767954
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Heavy Trucking - Over 2 Ton Sign, Harvard C...
Name: 1058, dtype: object
id                                           3424477412
exclude                                             NaN
type                                                NaN
query                                               NaN
text       No Heavy Trucking Sign, Massachusetts Avenue
Name: 1059, dtype: object
id                                                3424450350
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Heavy Trucks Sign, Corner of Massachusetts ...
Name: 1060, dtype: object
id                                3424478532
exclude                                  NaN
type                                     NaN
query                                    NaN
text       No Left Turn Sign, Memorial Drive
Name: 1061, dtype: object
id                                                3441827566
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Parking - Construction Area Sign, Memorial ...
Name: 1062, dtype: object
id                                                3440932805
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Parking Emergency, Loading Zone Sign and La...
Name: 1063, dtype: object
id                                                3424496042
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Parking Sign and Diamond-shaped Caution Sig...
Name: 1064, dtype: object
id                                                3424416392
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Parking within 20 Feet of Driveway Sign, We...
Name: 1065, dtype: object
id                                                3424494606
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Parking-Active R.R. Track Sign, Causeway St...
Name: 1066, dtype: object
id                                                3424451530
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Passing Sign, Old Mystic Street, Dutch Colo...
Name: 1067, dtype: object
id                                                3446026606
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Stopping Sign, in Front of Simmonds Upholst...
Name: 1068, dtype: object
id                                                3423672061
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       No Trucks and Buses Sign, Cambridge Parkway, B...
Name: 1069, dtype: object
id                                                3423278789
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Bennett Street, Saint Anthony's Playgrou...
Name: 1070, dtype: object
id                                                3424086918
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Bennett Street, Saint Anthony's Playgrou...
Name: 1071, dtype: object
id                                                3423279057
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Bennett Street, Saint Anthony's Playgrou...
Name: 1072, dtype: object
id                                                3423278163
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Bennett Street, St. Anthony's Playground...
Name: 1073, dtype: object
id                                                3441768476
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Exit of Sumner Tunnel, with Directional ...
Name: 1074, dtype: object
id                                  3451233692
exclude                                    NaN
type                                       NaN
query                                      NaN
text       North Facade, Building with Portico
Name: 1075, dtype: object
id                                                3451224796
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Facade, Row House with Arched Doorway on...
Name: 1076, dtype: object
id                                                3451239854
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Facade, Row House with Car Double Parked...
Name: 1077, dtype: object
id                                                3451218558
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Facade, Row House with Doorway with Colu...
Name: 1078, dtype: object
id                                                3451213276
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Facade, Row House with Park Bench in For...
Name: 1079, dtype: object
id                                                3471172619
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       North Facades, Boylston Street, Apaby Rug Co. ...
Name: 1080, dtype: object
id                                              3489874022
exclude                                                NaN
type                                                   NaN
query                                                  NaN

id                3420623827
exclude                  NaN
type                     NaN
query                    NaN
text       Political Posters
Name: 1222, dtype: object
id                3421453154
exclude                  NaN
type                     NaN
query                    NaN
text       Political Posters
Name: 1223, dtype: object
id                                                3421431838
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters and Posters with Chinese Cha...
Name: 1224, dtype: object
id                                                3421429960
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters at Lowell and Mine Streets, ...
Name: 1225, dtype: object
id                                                3420622869
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters Covering First Story of Thre...
Name: 1226, dtype: object
id                                                3421452308
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters on Building in Middle Ground...
Name: 1227, dtype: object
id                                                3420644327
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters on Building with Turret, Col...
Name: 1228, dtype: object
id                                                3420623565
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters on Buildings in Middle Groun...
Name: 1229, dtype: object
id                                                3420622611
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters, Chambers and McLean Streets...
Name: 1230, dtype: object
id                                                3420644213
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political Posters, Columbus Avenue and Prentic...
Name: 1231, dtype: object
id                                           3421431606
exclude                                             NaN
type                                                NaN
query                                               NaN
text       Political Posters, Fayette Street, 3:00 P.M.
Name: 1232, dtype: object
id                                                3420621683
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Political, Theater, and Movie Posters, Charter...
Name: 1233, dtype: object
id                                              3441767536
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       Private Driveway - No Parking Sign, Dana Street
Name: 1234, dtype: object
id                                                3404131729
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Private Parking Spaces in Rear Lot, Stanhope a...
Name: 1235, dtype: object
id                                                3424417680
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Private Property No Thoroughfare, For Rent Sig...
Name: 1236, dtype: object
id                                                3424417018
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Protect Our Children, Loyal Order of Moose Sig...
Name: 1237, dtype: object
id                                                3381533451
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1238, dtype: object
id                                                3382352500
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1239, dtype: object
id                                                3381608953
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1240, dtype: object
id                                                3382352590
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1241, dtype: object
id                                                3382352792
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1242, dtype: object
id                                                3382352392
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1243, dtype: object
id                                                3382352146
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1244, dtype: object
id                                                3382352238
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       Providence Street, 50 ft. intervals, Facing We...
Name: 1245, dtype: object
id                                                3382352722
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Providence Street, Facing West, Parking Lot at...
Name: 1246, dtype: object
id                                                3403989647
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Pushcarts under Central Artery, Belmar's Resta...
Name: 1247, dtype: object
id                                         3423689241
exclude                                           NaN
type                                              NaN
query                                             NaN
text       Quiet Hospital Zone Sign, Cambridge Street
Name: 1248, dtype: object
id                                                3423701739
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Railroad Crossing Sign, Harvard Street, Parkin...
Name: 1249, dtype: object
id                                                3424509094
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Railroad Crossing Signal and Sign, Rutherford ...
Name: 1250, dtype: object
id                                                3424391320
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Rear of Taxicab Parked in No Parking Area, Bet...
Name: 1251, dtype: object
id                                                3424391502
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Reserved for Funeral Sign, Beacon and Parkway ...
Name: 1252, dtype: object
id                                                3423584365
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Reserved for Medical Staff, Emergency Only Sig...
Name: 1253, dtype: object
id                                                3423609071
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Reserved for Visitors at Funeral Home Sign, 4:...
Name: 1254, dtype: object
id                                           3402063432
exclude                                             NaN
type                                                NaN
query                                               NaN
text       Revolutionary War Memorial, Arlington Center
Name: 1255, dtype: object
id                                                3401359693
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Revolutionary War Monument, Site of Delivery o...
Name: 1256, dtype: object
id                                                3423671849
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Right Lane for Right Turn Sign, Cambridge Parkway
Name: 1257, dtype: object
id                                                3424509396
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Right Turn Only, with Directive Arrows, Painte...
Name: 1258, dtype: object
id                                    3424496774
exclude                                      NaN
type                                         NaN
query                                        NaN
text       Road Patrolled Sign, Hampshire Street
Name: 1259, dtype: object
id                                                3441767042
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Road Under Construction, Keep Left--Slow Signs...
Name: 1260, dtype: object
id                                                3403960463
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Rockwell Cage with Running Track in Background...
Name: 1261, dtype: object
id                                                3404011017
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Rooftop Parking, Massachusetts Avenue, 12:00 P.M.
Name: 1262, dtype: object
id                                               3404885456
exclude                                                 NaN
type                                                    NaN
query                                                   NaN
text       Rooftop Parking, Massachusetts Avenue, Cambridge
Name: 1263, dtype: object
id                                                3441745024
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Route Designating Signs, Memorial Drive, with ...
Name: 1264, dtype: object
id                                            3445920258
exclude                                              NaN
type                                                 NaN
query                                                NaN
text       Row of Trash Cans, Curbside, in Copley Square
Name: 1265, dtype: object
id                                                3424507824
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Safety Islands Ahead Sign, Massachusetts Avenu...
Name: 1266, dtype: object
id                                      3423304313
exclude                                        NaN
type                                           NaN
query                                          NaN
text       Salem Street, Medford, Auto Parts Store
Name: 1267, dtype: object
id                                       3423608907
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Sand Storage Box, Boston Avenue, Medford
Name: 1268, dtype: object
id                                                3382821146
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Aerial View of Boston Looking W...
Name: 1269, dtype: object
id                                                3424450498
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       School Area No Parking 8 A.M. to 4 P.M. Sign, ...
Name: 1270, dtype: object
id                                                3441799162
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       School Area/No Parking - Sign Nailed to Tree, ...
Name: 1271, dtype: object
id                                                3385344392
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       School Entrances, Industrial Technical School,...
Name: 1272, dtype: object
id                                                3404047641
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       School of the Museum of Fine Arts Parking Lot,...
Name: 1273, dtype: object
id                  3440932419
exclude                    NaN
type                       NaN
query                      NaN
text       School Warning Sign
Name: 1274, dtype: object
id                                                3420738301
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Bird's Eye View from West, 2:00...
Name: 1275, dtype: object
id                                                3420738555
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Bird's Eye View Looking West, 3...
Name: 1276, dtype: object
id                                                3420774967
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Boston Fire Department, from Ro...
Name: 1277, dtype: object
id                             3421659014
exclude                               NaN
type                                  NaN
query                                 NaN
text       Scollay Square Bottled Liquors
Name: 1278, dtype: object
id                                                3421677800
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Cambridge Street from Irving St...
Name: 1279, dtype: object
id                                                3421658598
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Cambridge Street, The Old Howar...
Name: 1280, dtype: object
id                               3421678026
exclude                                 NaN
type                                    NaN
query                                   NaN
text       Scollay Square Cobb's Restaurant
Name: 1281, dtype: object
id                                                3420758651
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Corner of Cambridge Street and ...
Name: 1282, dtype: object
id                                                3420799679
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Corner of Court Street and Trem...
Name: 1283, dtype: object
id                                                3421658426
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Scollay Square Court Street from Corner of Tre...
Name: 1284, dtype: object
id                                                3421658278

id                                       3423329643
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Somerville, McGrath Highway, Mobil Tires
Name: 1430, dtype: object
id                                                3424137370
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Somerville, Middlesex Avenue, Diner and Teleph...
Name: 1431, dtype: object
id                                        3424136758
exclude                                          NaN
type                                             NaN
query                                            NaN
text       Somerville, Mystic Avenue, Car Wash Signs
Name: 1432, dtype: object
id                                           3423329087
exclude                                             NaN
type                                                NaN
query                                               NaN
text       Somerville, Mystic Avenue, Joe's Food Market
Name: 1433, dtype: object
id                                         3423329321
exclude                                           NaN
type                                              NaN
query                                             NaN
text       Somerville, Mystic Avenue, Service Station
Name: 1434, dtype: object
id                            3424111428
exclude                              NaN
type                                 NaN
query                                NaN
text       Somerville, Union Square Cafe
Name: 1435, dtype: object
id                                                3424180276
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Somerville, Willow Avenue and Elm Street, Will...
Name: 1436, dtype: object
id                                                3441356909
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South End Row Housing in Sunlight, Similar Uni...
Name: 1437, dtype: object
id                                                3441345289
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South End Row Housing, Jagged Shadows down Cen...
Name: 1438, dtype: object
id                                                3442159302
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South End Row Housing, Staircases with Ornamen...
Name: 1439, dtype: object
id                                                3442159052
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South End Row Housing, Ten Units with Identica...
Name: 1440, dtype: object
id                             3489947022
exclude                               NaN
type                                  NaN
query                                 NaN
text       South Facades, Boylston Street
Name: 1441, dtype: object
id                                                3489134979
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Boylston Street, Arlington Buil...
Name: 1442, dtype: object
id                                                3489904876
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Boylston Street, Former Berkele...
Name: 1443, dtype: object
id                                                3489099205
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Boylston Street, Former Berkele...
Name: 1444, dtype: object
id                                                3489908672
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Boylston Street, Former Berkele...
Name: 1445, dtype: object
id                                             3489107885
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       South Facades, Boylston Street, Kakas at Right
Name: 1446, dtype: object
id                                                3489129231
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Boylston Street, Schrafft's (Bo...
Name: 1447, dtype: object
id                                                3489141179
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Boylston Street, Shreve, Crump,...
Name: 1448, dtype: object
id                                                3489932730
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Boylston Street, W. W. Winship ...
Name: 1449, dtype: object
id                            3365931536
exclude                              NaN
type                                 NaN
query                                NaN
text       South Facades, Newbury Street
Name: 1450, dtype: object
id                                                3365930758
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Newbury Street, American Academ...
Name: 1451, dtype: object
id                                             3365108127
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       South Facades, Newbury Street, Brooks Brothers
Name: 1452, dtype: object
id                                                3365109049
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Newbury Street, Charles Summer ...
Name: 1453, dtype: object
id                                             3365930990
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       South Facades, Newbury Street, Elizabeth Arden
Name: 1454, dtype: object
id                                            3365930384
exclude                                              NaN
type                                                 NaN
query                                                NaN
text       South Facades, Newbury Street, F.A.O. Schwarz
Name: 1455, dtype: object
id                                                3365931654
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Facades, Newbury Street, Millinery at co...
Name: 1456, dtype: object
id                                         3365931406
exclude                                           NaN
type                                              NaN
query                                             NaN
text       South Facades, Newbury Street, Parking Lot
Name: 1457, dtype: object
id                                         3365108451
exclude                                           NaN
type                                              NaN
query                                             NaN
text       South Facades, Newbury Street, Storefronts
Name: 1458, dtype: object
id                                         3365931302
exclude                                           NaN
type                                              NaN
query                                             NaN
text       South Facades, Newbury Street, Storefronts
Name: 1459, dtype: object
id                                                3442277876
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - 'Baggage Checking & Delivery' ...
Name: 1460, dtype: object
id                                                3441453375
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Baggage Area, Lockers, Signs, ...
Name: 1461, dtype: object
id                                                3441452745
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Curved Facade with Cars and Ga...
Name: 1462, dtype: object
id                                                3442278492
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Eight-Sided Information Booth,...
Name: 1463, dtype: object
id                                                3441464661
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Entrance Arcade Corridor, Patt...
Name: 1464, dtype: object
id                                                3441452975
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Entrance, Sidewalk at Main Ent...
Name: 1465, dtype: object
id                                                3442278082
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Gate 15 Door, Sign for 'The Gi...
Name: 1466, dtype: object
id                                                3441453173
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Interior, Row of Ticket Booth ...
Name: 1467, dtype: object
id                                                3441463813
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Large Newsstand with Brass Zig...
Name: 1468, dtype: object
id                                                3441464241
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Newsstand with Cigars Displaye...
Name: 1469, dtype: object
id                                                3442278826
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Row of Platform Gates (6 - 18)...
Name: 1470, dtype: object
id                                                3442279254
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       South Station - Wide View of Main Mall with Co...
Name: 1471, dtype: object
id                                                3424450962
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Speed Laws Enforced Sign, Corner of Lexington ...
Name: 1472, dtype: object
id                                       3423671701
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Speed Zone Ahead Sign, Old Mystic Street
Name: 1473, dtype: object
id                              3403939091
exclude                                NaN
type                                   NaN
query                                  NaN
text       Spire of Kresge Chapel at Night
Name: 1474, dtype: object
id                                                3381609109
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1475, dtype: object
id                                                3381609861
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1476, dtype: object
id                                                3382428718
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1477, dtype: object
id                                                3381610165
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1478, dtype: object
id                                                3381610539
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1479, dtype: object
id                                                3381610337
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1480, dtype: object
id                                                3382428366
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1481, dtype: object
id                                                3381609299
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1482, dtype: object
id                                                3381609499
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1483, dtype: object
id                                                3381625621
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1484, dtype: object
id                                                3381626149
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1485, dtype: object
id                                                3382444270
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1486, dtype: object
id                                                3382444794
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1487, dtype: object
id                                                3382445150
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1488, dtype: object
id                                                3381625837
exclude                                                  NaN
type                                           50ft_interval
query                                                    NaN
text       St. James Avenue, 50 ft. intervals, Series in ...
Name: 1489, dtype: object
id                                            3382445318
exclude                                              NaN
type                                                 NaN
query                                                NaN
text       St. James Avenue, Facing West, Trinity Church
Name: 1490, dtype: object
id                                                3402178630
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Statue of Alexander Hamilton, Commonwealth Ave...
Name: 1491, dtype: object
id                                                3401285137
exclude                                                  NaN
type                                                     NaN

Name: 1632, dtype: object
id                                                3441129087
exclude                                                  NaN
type                                                     NaN
query      Shotgun - Gun Shop, Corner of Elm Street and B...
text       Symbols - Daytime, Shotgun - Gun Shop, Corner ...
Name: 1633, dtype: object
id                                                3441273567
exclude                                                  NaN
type                                                     NaN
query      Six-Pointed Star - Hebrew Temple, Brick with T...
text       Symbols - Daytime, Six-Pointed Star - Hebrew T...
Name: 1634, dtype: object
id                                                3442110792
exclude                                                  NaN
type                                                     NaN
query      Striped Letter 'f' - Filene's Delivery Truck, ...
text       Symbols - Daytime, Striped Letter 'f' - Filene...
Name: 1635, dtype: object
id                                                3441144657
exclude                                                  NaN
type                                                     NaN
query      Striped Pole - Barber Shop, Pole on Sidewalk, ...
text       Symbols - Daytime, Striped Pole - Barber Shop,...
Name: 1636, dtype: object
id                                                3441256727
exclude                                                  NaN
type                                                     NaN
query      Teakettle - Tea Company, Giant Steaming Kettle...
text       Symbols - Daytime, Teakettle - Tea Company, Gi...
Name: 1637, dtype: object
id                                                3441172753
exclude                                                  NaN
type                                                     NaN
query      Three Balls - Pawn Shop, Clusters of Balls Han...
text       Symbols - Daytime, Three Balls - Pawn Shop, Cl...
Name: 1638, dtype: object
id                                                3442111508
exclude                                                  NaN
type                                                     NaN
query      Three Links of Chain - Odd Fellows Hall, Centr...
text       Symbols - Daytime, Three Links of Chain - Odd ...
Name: 1639, dtype: object
id                                                3441235349
exclude                                                  NaN
type                                                     NaN
query      Three-Leaf Clover - Harvard Export Beer & Ale,...
text       Symbols - Daytime, Three-Leaf Clover - Harvard...
Name: 1640, dtype: object
id                                                3441129461
exclude                                                  NaN
type                                                     NaN
query      Tools - Hardware Store, H. M. Sanders Co. next...
text       Symbols - Daytime, Tools - Hardware Store, H. ...
Name: 1641, dtype: object
id                                                3441257709
exclude                                                  NaN
type                                                     NaN
query      Torch and Crest - United States Fidelity and G...
text       Symbols - Daytime, Torch and Crest - United St...
Name: 1642, dtype: object
id                                                3442022856
exclude                                                  NaN
type                                                     NaN
query      Triangle - YMCA, Pleasant Street, Malden Squar...
text       Symbols - Daytime, Triangle - YMCA, Pleasant S...
Name: 1643, dtype: object
id                                                3441209355
exclude                                                  NaN
type                                                     NaN
query      Triangle - YMCA, Victorian Entryway, Neon Sign...
text       Symbols - Daytime, Triangle - YMCA, Victorian ...
Name: 1644, dtype: object
id                                                3441316899
exclude                                                  NaN
type                                                     NaN
query      U. S. Mail - Delivery Trucks, Backed into Post...
text       Symbols - Daytime, U. S. Mail - Delivery Truck...
Name: 1645, dtype: object
id                                                3442111202
exclude                                                  NaN
type                                                     NaN
query      U. S. Mail - Delivery Trucks, Eleven, Facing O...
text       Symbols - Daytime, U. S. Mail - Delivery Truck...
Name: 1646, dtype: object
id                                                3441296303
exclude                                                  NaN
type                                                     NaN
query      Warning Stripes and Bell - New England Telepho...
text       Symbols - Daytime, Warning Stripes and Bell - ...
Name: 1647, dtype: object
id                                                3441188135
exclude                                                  NaN
type                                                     NaN
query      Wheels - Bicycle Repairing Sign and Wheels on ...
text       Symbols - Daytime, Wheels - Bicycle Repairing ...
Name: 1648, dtype: object
id                                                3442002608
exclude                                                  NaN
type                                                     NaN
query      Windmill - Moulin Rouge, Dartmouth Street, Neo...
text       Symbols - Daytime, Windmill - Moulin Rouge, Da...
Name: 1649, dtype: object
id                                                3442002212
exclude                                                  NaN
type                                                     NaN
query      Window Shop - Viennese Cafe, Free Standing Han...
text       Symbols - Daytime, Window Shop - Viennese Cafe...
Name: 1650, dtype: object
id                                                3442070738
exclude                                                  NaN
type                                                     NaN
query      Women Figures - Jay's Dress Shop, Mannequins i...
text       Symbols - Daytime, Women Figures - Jay's Dress...
Name: 1651, dtype: object
id                                                3442132060
exclude                                                  NaN
type                                                     NaN
query      Bottle - Whiskey Advertisement, 'The Best in t...
text       Symbols - Nighttime, Bottle - Whiskey Advertis...
Name: 1652, dtype: object
id                                                3441318083
exclude                                                  NaN
type                                                     NaN
query      Bowl of Rice - Restaurant, Neon Signs, Arrow, ...
text       Symbols - Nighttime, Bowl of Rice - Restaurant...
Name: 1653, dtype: object
id                                                3441317669
exclude                                                  NaN
type                                                     NaN
query      Chocolate Box - Chocolate House Homemade Candi...
text       Symbols - Nighttime, Chocolate Box - Chocolate...
Name: 1654, dtype: object
id                                                3441329475
exclude                                                  NaN
type                                                     NaN
query      Cocktail Glass - Wonder Bar, Ballantine Neon S...
text       Symbols - Nighttime, Cocktail Glass - Wonder B...
Name: 1655, dtype: object
id                                                3441329929
exclude                                                  NaN
type                                                     NaN
query      Derby - Brown Derby Restaurant/Bar, Large Neon...
text       Symbols - Nighttime, Derby - Brown Derby Resta...
Name: 1656, dtype: object
id                                                3442144062
exclude                                                  NaN
type                                                     NaN
query      Dragon - Chinese Restaurants, Broad View of Ty...
text       Symbols - Nighttime, Dragon - Chinese Restaura...
Name: 1657, dtype: object
id                                                3442131860
exclude                                                  NaN
type                                                     NaN
query      Dragon - Restaurant, Neon Sign above Oxford St...
text       Symbols - Nighttime, Dragon - Restaurant, Neon...
Name: 1658, dtype: object
id                                                3442143758
exclude                                                  NaN
type                                                     NaN
query      Indian Head - Pontiac Dealership, Neon Sign, 8...
text       Symbols - Nighttime, Indian Head - Pontiac Dea...
Name: 1659, dtype: object
id                                                3442131660
exclude                                                  NaN
type                                                     NaN
query      Lobster - Sea 'n Surf Restaurant, Worcester Ro...
text       Symbols - Nighttime, Lobster - Sea 'n Surf Res...
Name: 1660, dtype: object
id                                                3441317859
exclude                                                  NaN
type                                                     NaN
query      Rooster - Kelley's Barbecue, Neon Sign, South ...
text       Symbols - Nighttime, Rooster - Kelley's Barbec...
Name: 1661, dtype: object
id                                                3441330011
exclude                                                  NaN
type                                                     NaN
query      Safety Pin - DY-DEE Service, Neon Sign, Diaper...
text       Symbols - Nighttime, Safety Pin - DY-DEE Servi...
Name: 1662, dtype: object
id                                                3442143508
exclude                                                  NaN
type                                                     NaN
query      Windmill - Moulin Rouge, Neon Sign, Night Club...
text       Symbols - Nighttime, Windmill - Moulin Rouge, ...
Name: 1663, dtype: object
id                    3424290356
exclude                      NaN
type                         NaN
query                        NaN
text       Taxi Stand, Town Taxi
Name: 1664, dtype: object
id                                                3404654320
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Taxi, with Sign Attached: 'Follow Me,' Logan A...
Name: 1665, dtype: object
id                                              3420698531
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       Tek Cafeteria, Main Street, near Kendall Square
Name: 1666, dtype: object
id                                                3404884890
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Texaco Station Parking Lot, Next to Temple Ada...
Name: 1667, dtype: object
id                                3446054092
exclude                                  NaN
type                                     NaN
query                                    NaN
text       The Community Church Center, Sign
Name: 1668, dtype: object
id                                       3445836844
exclude                                         NaN
type                                            NaN
query                                           NaN
text       The Community Church Center, Store Front
Name: 1669, dtype: object
id                        3469332100
exclude                          NaN
type                             NaN
query                            NaN
text       The Mall at Exeter Street
Name: 1670, dtype: object
id                                3445223175
exclude                                  NaN
type                                     NaN
query                                    NaN
text       The Office Composing Machine Sign
Name: 1671, dtype: object
id                                                3441797992
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       This Space Reserved for Doctors Nurses Only - ...
Name: 1672, dtype: object
id                                       3403889405
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Three Children Playing, Paul Revere Mall
Name: 1673, dtype: object
id                                       3404654574
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Three Children Playing, Paul Revere Mall
Name: 1674, dtype: object
id                                       3404654820
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Three Children Playing, Paul Revere Mall
Name: 1675, dtype: object
id                                               3404717838
exclude                                                 NaN
type                                                    NaN
query                                                   NaN
text       Three Men on Bench, Paul Revere Mall, 11:45 A.M.
Name: 1676, dtype: object
id                                 3404671142
exclude                                   NaN
type                                      NaN
query                                     NaN
text       Three Seated Men, Paul Revere Mall
Name: 1677, dtype: object
id                                                3404699030
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Three Seated Women and Standing Child, Paul Re...
Name: 1678, dtype: object
id                                               3403907345
exclude                                                 NaN
type                                                    NaN
query                                                   NaN
text       Three Women and Child on Bench, Paul Revere Mall
Name: 1679, dtype: object
id                                                3424097900
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Tileston Street, Julie Billart Central High Sc...
Name: 1680, dtype: object
id                                         3441886560
exclude                                           NaN
type                                              NaN
query                                             NaN
text       Token Booth, Subway Station, Summer Street
Name: 1681, dtype: object
id                                         3441886770
exclude                                           NaN
type                                              NaN
query                                             NaN
text       Token Booth, Subway Station, Summer Street
Name: 1682, dtype: object
id                                                3402120346
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Tombstone, Mount Auburn Cemetery, Unknown Dog ...
Name: 1683, dtype: object
id                                       3440985737
exclude                                         NaN
type                                            NaN
query                                           NaN
text       Tourist Parking - Sign, Cambridge Common
Name: 1684, dtype: object
id                                                3442235016
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1685, dtype: object
id                                                3441421725
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1686, dtype: object
id                                                3441421561
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1687, dtype: object
id                                                3441435397
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1688, dtype: object
id                                                3441435019
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1689, dtype: object
id                                                3441435227
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1690, dtype: object
id                                                3442235136
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1691, dtype: object
id                                                3442248200
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1692, dtype: object
id                                                3442234868
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1693, dtype: object
id                                                3441421389
exclude                                                  NaN
type                                                  aerial
query                                                    NaN
text       Traffic Intersection One - View from Above, Tr...
Name: 1694, dtype: object
id                                                3441434543
exclude                                                  NaN
type                                                  aerial
query                                                    NaN

id                                              3423303469
exclude                                                NaN
type                                                   NaN
query                                                  NaN
text       Washington Street, Knight Drugs Store on Corner
Name: 1855, dtype: object
id                                                3381906283
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, Looking East Under Elevated...
Name: 1856, dtype: object
id                                                3381906415
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, Looking East, Across Street...
Name: 1857, dtype: object
id                                                3381963403
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, Looking East, Elevated Rail...
Name: 1858, dtype: object
id                                                3381943879
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, Looking East, Under Elevate...
Name: 1859, dtype: object
id                                                3381906031
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, opposite Parry Street, look...
Name: 1860, dtype: object
id                                                3381820397
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, School Street to Bromfield ...
Name: 1861, dtype: object
id                                                3424111266
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, Somerville, Geandore Cafe o...
Name: 1862, dtype: object
id                                                3381944617
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, South Side of Elevated Rail...
Name: 1863, dtype: object
id                                               3381799247
exclude                                                 NaN
type                                                    NaN
query                                                   NaN
text       Washington Street, Temple Place to Winter Street
Name: 1864, dtype: object
id                                                3381798463
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, West Street to Avery Street...
Name: 1865, dtype: object
id                                                3382617472
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Washington Street, Winter Street to Bromfield ...
Name: 1866, dtype: object
id                                                3442234348
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Arrow with Flag and 'S' Cut-Out...
Name: 1867, dtype: object
id                                                3442172328
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Cast Iron Scrollwork Weathervan...
Name: 1868, dtype: object
id                                                3441358583
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Cast Iron with Scroll Work, ato...
Name: 1869, dtype: object
id                                                3442202416
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Crescent-Shaped with Flowing Ta...
Name: 1870, dtype: object
id                                                3442203454
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Curvy Swallowtail Flag on Eight...
Name: 1871, dtype: object
id                                                3441388943
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Curvy Swallowtail Flag Shape in...
Name: 1872, dtype: object
id                                                3442187292
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Flag on Plain Gold-Toned Ball, ...
Name: 1873, dtype: object
id                                                3442186722
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Flag Shaped Weathervane, withou...
Name: 1874, dtype: object
id                                                3441373561
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Flag-Shaped, on Eight-Sided Cup...
Name: 1875, dtype: object
id                                                3442201912
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Gold-Toned Scrollwork Weatherva...
Name: 1876, dtype: object
id                                                3441358739
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Grasshopper and Scrollwork, Fan...
Name: 1877, dtype: object
id                                                3442203646
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Man, Boy and Dog, Black Metal, ...
Name: 1878, dtype: object
id                                                3441387949
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Ornamental, with Scrollwork, at...
Name: 1879, dtype: object
id                                                3442203948
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Ornate, Gold-Toned Arrow, Scrol...
Name: 1880, dtype: object
id                                                3441373003
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Rooster (Weathercock) on Gold-T...
Name: 1881, dtype: object
id                                                3441388769
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Rooster (Weathercock) on Slate ...
Name: 1882, dtype: object
id                                                3442203272
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Rooster (Weathercock) with Spir...
Name: 1883, dtype: object
id                                                3442202614
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Running Horse, Little Cupola wi...
Name: 1884, dtype: object
id                                                3441372037
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Ship with Three Masts and Mizze...
Name: 1885, dtype: object
id                                                3441372209
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Small Plain Weathervane with Ba...
Name: 1886, dtype: object
id                                                3441372435
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Swallow Tail Flag atop White, E...
Name: 1887, dtype: object
id                                                3384325153
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       West End, Aerial View at Building Level Lookin...
Name: 1888, dtype: object
id                                                3385139596
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       West End, Aerial View from Building Level, Cha...
Name: 1889, dtype: object
id                                                3442187804
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Swallow Tail Flag on Federal St...
Name: 1890, dtype: object
id                                                3442172934
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - View up at Stone, Domed Buildin...
Name: 1891, dtype: object
id                                                3441373261
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - White Running Horse on Black Ar...
Name: 1892, dtype: object
id                                                3442186890
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weathervanes - Windmill at Corner of Roof or B...
Name: 1893, dtype: object
id                                                3423289979
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Wesley Place, Scribbling on Brick Wall, 2:00 P.M.
Name: 1894, dtype: object
id                                                3424279960
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Weston Avenue and Telford Street, Auciello Orn...
Name: 1895, dtype: object
id                     3420698919
exclude                       NaN
type                          NaN
query                         NaN
text       White Tower Restaurant
Name: 1896, dtype: object
id                                3421506456
exclude                                  NaN
type                                     NaN
query                                    NaN
text       White Tower Restaurant, 9:00 P.M.
Name: 1897, dtype: object
id                                               3423289755
exclude                                                 NaN
type                                                    NaN
query                                                   NaN
text       Wiggin Street, Graffiti on Storefront, 1:30 P.M.
Name: 1898, dtype: object
id                          3424065304
exclude                            NaN
type                               NaN
query                              NaN
text       Williard Street, Scribbling
Name: 1899, dtype: object
id                                             3382617572
exclude                                               NaN
type                                                  NaN
query                                                 NaN
text       Winter Street off Washington Street, 2:00 A.M.
Name: 1900, dtype: object
id                                                3420570559
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Woman Placing Price Indicators on Crates of Pr...
Name: 1901, dtype: object
id                               3420601563
exclude                                 NaN
type                                    NaN
query                                   NaN
text       Woman Seated on Crate, Haymarket
Name: 1902, dtype: object
id                                                3421378642
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Woman Seated under Large Window, Boston Public...
Name: 1903, dtype: object
id                                                3421410374
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       Woman Wearing Fur Stole, Newbury and Clarendon...
Name: 1904, dtype: object
id                                           3401374909
exclude                                             NaN
type                                                NaN
query                                               NaN
text       Wooden Mausoleum, Copp's Hill Burying Ground
Name: 1905, dtype: object
id                                                3401259401
exclude                                                  NaN
type                                                     NaN
query                                                    NaN
text       World War I Memorial, Union Square, Somerville...
Name: 1906, dtype: object
id                                          3403859895
exclude                                            NaN
type                                               NaN
query                                              NaN
text       Young Girl, Arms Upraised, Paul Revere Mall
Name: 1907, dtype: object

In [64]:
data.head(n=20)

,id,exclude,type,query,text,query_result,format0,lat0,lng0,format1,...,lng1,format2,lat2,lng2,format3,lat3,lng3,format4,lat4,lng4
0,3440931611,NaN,NaN,Alewife Brook Parkway,"No,' with Three Directional Arrows Stenciled o...",0,,,,,...,,,,,,,,,,
1,3441744408,NaN,NaN,Broadway,"Slo' Stenciled on Asphalt, Broadway",0,,,,,...,,,,,,,,,,
2,3365761050,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",1,"Blagden St & Huntington Ave, Boston, MA 02116,...",42.3491,-71.0773,,...,,,,,,,,,,
3,3364974247,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
4,3365836732,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
5,3365689012,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
6,3365761334,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
7,3364849813,NaN,50ft_interval,Corner of Huntington Avenue and Blagden Street,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
8,3364865499,NaN,50ft_interval,Approaching Corner of Huntington Avenue and Ex...,"50 ft. Intervals, Approaching Corner of Huntin...",0,,,,,...,,,,,,,,,,
9,3471010385,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, 11:...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
10,3468762299,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, Fac...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
11,3468768957,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, Fac...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
12,3468765211,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, Fac...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
13,3469600046,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, in ...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
14,3469603964,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, in ...","50 ft. intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
15,3469613136,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, in ...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
16,3469597076,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, in ...","50 ft. intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
17,3468796677,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, in ...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
18,3469593192,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, in ...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,
19,3471007009,NaN,50ft_interval,"Back Alley, Berkeley to Arlington Streets, Loo...","50 ft. Intervals, Back Alley, Berkeley to Arli...",0,,,,,...,,,,,,,,,,